:root {
  --component-colors--alpha--alpha-white-10: rgba(255, 255, 255, 0.1);
  --component-colors--alpha--alpha-white-20: rgba(255, 255, 255, 0.2);
  --component-colors--alpha--alpha-white-30: rgba(255, 255, 255, 0.3);
  --component-colors--alpha--alpha-white-40: rgba(255, 255, 255, 0.4);
  --component-colors--alpha--alpha-white-50: rgba(255, 255, 255, 0.5);
  --component-colors--alpha--alpha-white-60: rgba(255, 255, 255, 0.6);
  --component-colors--alpha--alpha-white-70: rgba(255, 255, 255, 0.7);
  --component-colors--alpha--alpha-white-80: rgba(255, 255, 255, 0.8);
  --component-colors--alpha--alpha-white-90: rgba(255, 255, 255, 0.9);
  --component-colors--alpha--alpha-white-100: #ffffff;
  --component-colors--alpha--alpha-black-10: rgba(0, 0, 0, 0.1);
  --component-colors--alpha--alpha-black-20: rgba(0, 0, 0, 0.2);
  --component-colors--alpha--alpha-black-30: rgba(0, 0, 0, 0.3);
  --component-colors--alpha--alpha-black-40: rgba(0, 0, 0, 0.4);
  --component-colors--alpha--alpha-black-50: rgba(0, 0, 0, 0.5);
  --component-colors--alpha--alpha-black-60: rgba(0, 0, 0, 0.6);
  --component-colors--alpha--alpha-black-70: rgba(0, 0, 0, 0.7);
  --component-colors--alpha--alpha-black-80: rgba(0, 0, 0, 0.8);
  --component-colors--alpha--alpha-black-90: rgba(0, 0, 0, 0.9);
  --component-colors--alpha--alpha-black-100: #000000;
  --component-colors--components--app-store-badges--app-store-badge-border: #a6a6a6;
  --component-colors--components--avatars--avatar-contrast-border: rgba(0, 0, 0, 0.08);
  --component-colors--components--avatars--avatar-styles-bg-neutral: #e0e0e0;
  --component-colors--components--avatars--avatar-contrast-border: rgba(255, 255, 255, 0.12);
  --component-colors--components--avatars--avatar-styles-bg-neutral: #e0e0e0;
  --component-colors--components--icons--social-icons--social-icon-fg-x: #242e36;
  --component-colors--components--icons--social-icons--social-icon-fg-instagram: #000100;
  --component-colors--components--icons--social-icons--social-icon-fg-tumblr: #001935;
  --colors--effects--shadows--shadow-xs: rgba(16, 24, 40, 0.05);
  --colors--effects--portfolio-mockups--shadow-main-centre-md: rgba(16, 24, 40, 0.14);
  --colors--effects--portfolio-mockups--shadow-main-centre-lg: rgba(16, 24, 40, 0.18);
  --colors--effects--portfolio-mockups--shadow-overlay-lg: rgba(16, 24, 40, 0.12);
  --colors--effects--portfolio-mockups--shadow-grid-md: rgba(16, 24, 40, 0.08);
  --colors--effects--shadows--shadow-sm_01: rgba(16, 24, 40, 0.10);
  --colors--effects--shadows--shadow-sm_02: rgba(16, 24, 40, 0.06);
  --colors--effects--shadows--shadow-md_01: rgba(16, 24, 40, 0.10);
  --colors--effects--shadows--shadow-md_02: rgba(16, 24, 40, 0.06);
  --colors--effects--shadows--shadow-lg_01: rgba(16, 24, 40, 0.08);
  --colors--effects--shadows--shadow-lg_02: rgba(16, 24, 40, 0.03);
  --colors--effects--shadows--shadow-xl_01: rgba(16, 24, 40, 0.08);
  --colors--effects--shadows--shadow-xl_02: rgba(16, 24, 40, 0.03);
  --colors--effects--shadows--shadow-2xl: rgba(16, 24, 40, 0.18);
  --colors--effects--shadows--shadow-3xl: rgba(16, 24, 40, 0.14);
  --colors--effects--shadows--shadow-skeumorphic-inner: rgba(16, 24, 40, 0.05);
  --colors--effects--shadows--shadow-skeumorphic-inner-border: rgba(16, 24, 40, 0.18);
}

.dark {
    --component-colors--alpha--alpha-white-10: rgba(12, 17, 29, 0.10);
    --component-colors--alpha--alpha-white-20: rgba(12, 17, 29, 0.20);
    --component-colors--alpha--alpha-white-30: rgba(12, 17, 29, 0.30);
    --component-colors--alpha--alpha-white-40: rgba(12, 17, 29, 0.40);
    --component-colors--alpha--alpha-white-50: rgba(12, 17, 29, 0.50);
    --component-colors--alpha--alpha-white-60: rgba(12, 17, 29, 0.60);
    --component-colors--alpha--alpha-white-70: rgba(12, 17, 29, 0.70);
    --component-colors--alpha--alpha-white-80: rgba(12, 17, 29, 0.80);
    --component-colors--alpha--alpha-white-90: rgba(12, 17, 29, 0.90);
    --component-colors--alpha--alpha-black-10: rgba(255, 255, 255, 0.10);
    --component-colors--alpha--alpha-black-20: rgba(255, 255, 255, 0.20);
    --component-colors--alpha--alpha-black-30: rgba(255, 255, 255, 0.30);
    --component-colors--alpha--alpha-black-40: rgba(255, 255, 255, 0.40);
    --component-colors--alpha--alpha-black-50: rgba(255, 255, 255, 0.50);
    --component-colors--alpha--alpha-black-60: rgba(255, 255, 255, 0.60);
    --component-colors--alpha--alpha-black-70: rgba(255, 255, 255, 0.70);
    --component-colors--alpha--alpha-black-80: rgba(255, 255, 255, 0.80);
    --component-colors--alpha--alpha-black-90: rgba(255, 255, 255, 0.90);
    --component-colors--alpha--alpha-black-100: #ffffff;
}
